@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-26 11:16:48
 * @version $Id$
 */
.a11{
	width: 100px;
	height: 30px;
	background-color: #FF8000;
	margin:0px;
	padding: 0px;
	text-align: center;
}
#tb1{
	width: 500px;
	height: 30px;
	background-color: white;
}
#tb1-1{
	width: 500px;
	height: 30px;
	background-color: white;
}
#tb2{
	width: 500px;
	height: 30px;
	background-color: white;
}
#tb2-2{
	width: 350px;
	height: 30px;
	background-color: white;
}

#tb5-1{
	margin:0px;
	border:2px;
    border-style: ridge;
}
#tb5-2{
	border: 2px;
	border-style: ridge;
    width: 330px;
    height: 200px;
}
.a12{
	width: 490px;
	height: 30px;
}
.a211{
	width: 140px;
	height: 70px;
	background-color: #FF8000;
}
.a221t{
	width: 300px;
	height: 30px;
}
.a222{
	width: 350px;
	height: 15px;
}
.a331t{
	width: 160px;
	height: 30px;
	text-align:center;
	border-color: blue;
	background-color: #FF8000;
}
.a431{
	margin-top: 20px;
	width: 490px;
	height: 30px;
}
p.a511{
	margin: 30px 0px 0px 40px;
	width: 50px;
	height: 100px;
    background-color: #FF8000;
    border-style: ridge;
}
p.a512{
	margin-top: 0px;
	width: 130px;
	height: 30px;
	margin-top: 10px;
	text-align: center;
	border-style: ridge;
}
.a522t{
	
}
p.a522t{
	margin: 0px 0px 0px 2px;
	width: 100px;
	height: 30px;
	background-color: #FF8000;
	border-style: ridge;
}
p.a522{
	margin: 10px 0px 0px 0px;
	padding: 0px;
	width: 100px;
	height: 20px;
	text-align: center;
	border-style: ridge;
}
.a61{
	width: 97px;
	height: 30px;
	background-color: #FF8000;
	margin:0px;
	padding: 0px;
	text-align: center;
}